.TimerData{
	background-color: white;
	border: 5px solid black;
	padding: 50px;
	color: black;
}

.TimerButton {
	border: 30px;
	background-color: red;
	width: 500px;
	padding: 45px;
	height: 100%;
	border: 20px solid black;
}
